<h1>Uesr info</h1>
    <%= image_tag user.get_profile_image(100,100) %>
    <P>name</P>
    <%= user.name %>
    <p>introduction</p>
    <%= user.introduction %>
    <% if user == current_user %>
        <p><%= link_to "icon", edit_user_path(user) %></p>
    <% else %>
        <p><%= link_to "icon", user_path(current_user) %></p>
    <% end %>