<h1>Uesr info</h1>
    <%= image_tag @user.get_profile_image(100,100) %>
    <P>name</P>
    <%= @user.name %>
    <p>introduction</p>
    <%= @user.introduction %>
    <p><%= link_to "icon", edit_user_path %></p>


<%= render 'books/new', book: @book %>
   

<h1>Books</h1>
<table>
    <tr>
        <th></th> <th>Title</th> <th>Opinion</th>
    </tr>
    <% @books.each do |book| %>
    <tr>
        <td><%= image_tag book.user.get_profile_image(100,100) %></td>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
    </tr>
    <% end %>
</table>